/* GENERALE */

	html{
		margin: 0;
	}

	body{
		margin: 0;
	}

/* HEADER */

	header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 20px;
		background-color: darkorange;
	}

	#logo{
		height: 50px;
		padding: 10px;
	}

	header nav{
		display: flex;
		flex-direction: row;
		align-items: center;
	}


	header ul{
		display: flex;
		flex-direction: row;
		justify-content: center;
		list-style-type: none;
	}

	header li{
		padding: 0 20px;
	}

	header li a{
		font-size: 15px;
		color: #000000;
		text-decoration: none;
	}